@media (min-width: 1440px) {
    :root {
        --text-color: #FFFFFF;
        --background-color: #B01022;
        --green-background: #005F16;
    }

    .menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navigation li {
        padding: 20px;
        font-size: 2.4rem;
    }

    .navigation li:hover {
        background-color: var(--green-background);
        border-radius: 10px;
        font-weight: 700;

    }

    .navigation {
        flex-direction: row;
    }

    .navigation a,
    .navigation li {
        display: block;
    }

    /*               MAIN                      */

    main{
        max-width: 80vw;
    }

    .home-description {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
    }

    .home-description img {
        margin: 0;
    }

    #home-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #home-order-button a {
        font-size: 2vw;
    }

    #home-order-button a:hover {
        font-size: 2.1vw;
    }


    footer {
        font-size: 1.4rem;
    }

    footer img {
        max-width: 75px;
        margin-right: 10px;
        margin-left: 10px;
    }
    /*               MENU PAGE                      */
    .menu-green-background {
        font-size: 2vw;
        width: 30vw;
    }

    .menu-card h4 {
        font-size: 2.5vw;
    }

    .menu-card p {
        font-size: 1.45vw;
    }
    /*               ORDER PAGE                      */
    .order-card {
        width: 50vw;
    }

    .order-section img {
        max-width: 9.5vw;
    }

    .order-description {
        font-size: 0.8vw;
    }

    .order-price {
        font-size: 1vw;
        width: 4vw;
    }

    .order-button {
        width: 1.7vw;
        height: 1.8vw;
        font-size: 1.5vw;
        font-weight: 700;
    }

    .order-buttons {
        font-size: 1.4vw;
    }

    .form label {
        width: 17vw;
        font-size: 1vw;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form input[type="tel"] {
        border: solid 1px #999;
        border-radius: 4px;
        padding: 0.70rem;
        width: 20vw;
    }

    .form input[type="submit"] {
        width: 20vw;
        font-size: 2vw;
    }

    #order-total {
        font-size: 2vw;
    }
    
    /*               CONFIRMATION PAGE                      */
    #confirmation-description {
        font-size: 1.5vw;
    }
}