:root {
    --text-color: #FFFFFF;
    --background-color: #B01022;
    --green-background: #005F16;
    --roboto-font: "Roboto Condensed", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    min-height: 100%;
}


body {
    font-family: "Merriweather Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



h2 {
    text-align: center;

}

img {
    height: auto;
}

/*               HEADER                      */

header {
    display: block;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.4rem;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
    width: 100%;
    max-width: 250px;
}


.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    display: none;
}

.navigation li {
    display: none;
}

.open li:hover {
    background-color: var(--green-background);
    font-weight: 700;
}

.open li {
    padding: 5px;
    display: block;
}


.open a {
    display: block;
}

.menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    font-size: 3rem;
    color: var(--text-color);
    background: none;
    border: 0;
    cursor: pointer;
}

/*               MAIN                      */

main {
    max-width: 80vw;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    flex: 1;
}

.home-description {
    display: grid;
    justify-items: center;

}

.home-description p,
h2 {
    padding-top: 10px;
    margin-right: 15px;
    margin-left: 15px;

}

main img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 5px #333;
}

figcaption {
    text-align: center;
    font-weight: 700;
}

.margin-top {
    margin-top: 15px;
}

#home-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 10px;

}

#home-products img {
    margin: 10px;
    max-width: 100%;
    width: auto;
    height: 168px;
    max-height: 100%;
    margin-top: 25px;
    aspect-ratio: 4 / 3;
    object-fit: cover;

}

#home-order-button {
    text-align: center;
    margin: 22px;

}

#home-order-button a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--green-background);
    padding: 10px;
    border-radius: 5px;
    font-size: 4vw;
    font-family: var(--roboto-font);
    font-weight: 600;
}

#home-order-button a:hover {
    padding: 15px;
    font-weight: 700;
    font-size: 4.1vw;
}

/*               FOOTER                      */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    max-height: 200px;
    font-size: 3.5vw;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;

}

footer img {
    margin-right: 10px;
    margin-left: 10px;
    width: 10vw;
    max-width: 45px;
}

.social-media {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}


footer a {
    text-decoration: none;
}


/*               MENU PAGE                      */

#menu-description{
    padding: 20px;
}

.menu-green-background{
    padding: 15px;
    margin: 10px;
    background-color: var(--green-background);
    border-radius: 10px;
    width: 60vw;
    color: var(--text-color);
    font-family: var(--roboto-font);
    font-size: 5vw;
    margin-top: 30px;
}

.menu-card h4{
    padding: 5px;
    font-weight: 800;
    font-size: 5vw;
    font-family: var(--roboto-font);
}

.menu-card p{
    font-size: 3vw;
    padding-top: 3px;
    padding-bottom: 8px;
}



.order-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-section img{
    width: 100%;
    max-width: 20vw;
    margin-top: 0;
    margin-left: 4px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.order-card{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
    border: 1px solid black;
    width: 80vw;
    gap: 1px;
}

.order-description{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-size: 2.5vw;
}

.order-buttons{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-size: 4vw;
}

.order-button{
    width: 6vw;
    height: 6vw;
    border: none;
    border-radius: 5px;
    background: var(--text-color);
    font-size: 4vw;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.6);
}

.order-button:hover{
    background-color: var(--green-background);
    color: var(--text-color);
}

.order-price{
    background-color: #005F16;
    width: 14vw;
    border-radius: 10px;
    padding: 4px;
    color: var(--text-color);
    font-family: var(--roboto-font);
    font-size: 4vw;
    font-weight: 700;
}

#order-complete{
    margin-top: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form label{
    display: block;
    color: var(--text-color);
    background-color: var(--green-background);
    border-radius: 10px;
    padding: 5px;
    width: 50vw;
    font-size: 3vw;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="tel"]{
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.70rem;
    width: 60vw;
    margin-top: 5px;
    margin-bottom: 10px;
    appearance: none;
    font-size: 16px;
}

.form input[type="submit"]{
    padding: 20px;
    width: 40vw;
    border-radius: 4px;
    font-size: 4vw;
    font-family: var(--roboto-font);
    font-weight: 700;
    background-color: var(--green-background);
    color: var(--text-color);
}

.form input[type="submit"]:hover{
    font-weight: 800;
}

.form div{
    margin-top: 10px;
}

#order-total{
    margin: 10px;
    font-family: var(--roboto-font);
    font-size: 4vw;
    font-weight: 800;
}


#confirmation-img{
    margin: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}