* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vw;
    text-align: center;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: 700;
}

th,
td {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

thead {

    color: #fff;
    background-color: black;

    th {
        padding: 0.5rem;
        font-size: 2.2vw;
    }

    tr:nth-last-child(1) {
        background-color: grey;
    }
}


.bold {
    background-color: black;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}