:root {
    --text-color: #ffff;
    --blue-background: #004687;
    --green-background: #186618;
    --grey-box-background:rgba(255, 255, 255, 0.7) ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}
header {
    display: block;
    text-align: center;
    background-color: var(--green-background);
    color: var(--text-color);
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 20px solid var(--blue-background);
}

main{
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
    align-items: center;
    padding-bottom: 20px;
    background-color: rgb(245,245,245);
}

h2 {
    text-align: center;
    margin-bottom: 20px ;
}

main p{
    text-align: center;
    font-weight: 650;
}

.info {
    font-weight: 1000;
    margin-right: 5px;
}

.birds{
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 5px solid var(--blue-background);
}

.weather{
    display: block;
    width: 20vw;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


footer {
    display: block;
    text-align: center;
    background-color: var(--green-background);
    color: var(--text-color);
    font-size: 1.05rem;
    font-weight: 700;
    padding: 40px;
    padding-bottom: 70px;

}

#currentyear, #lastModified{
    color: var(--text-color);
}
