body {
    font-family: "Roboto", sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 2px solid rgba(160, 160, 160, 0.8);
    padding: 1rem;
    background-color: rgba(0,70,135, 0.5);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding:1rem;
    background-color: white;
}